body {
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:20px;
  box-shadow: 10px 5px 5px #9a9797;
  border: 2px solid black;
  letter-spacing:1px;
  cursor: pointer;
  margin-top: 15px;
}

.displayArea{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.returnedData {
  width: 75%;
  height: 25%;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 3%;
  box-shadow: 10px 5px 5px #9a9797;
}

.userImage {
  max-width: 50px;
  border-radius: 20px;
}

.underData {

}

.createdAtText .createdAtDate {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.searchBox {
  align-items: center;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  margin: 3%;
  box-shadow: 10px 5px 5px #9a9797;
}

.buttonNavigation {
  margin-bottom: 30px;
}


@media (max-width: 600px) {
  .yeiLogo {
    max-width: 500px;
  }
}



@media (max-width: 550px) {
  .yeiLogo {
    max-width: 300px;
  }
}
